.eachday-wrapper {
  margin-top: 5%;
  width: 50xp;
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  margin:0 1%;
  .eachday-week {
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-weight: bold;
  }

  .eachday-icon {
    width: 40px;
    height: 40px;
  }
  .eachday-weather {
    text-align: center;
  }

  .each-temperature {
    text-align: center;
  }
}