.search-bar{
  .search-form{


    .search-input {
      padding-left: 15px;
      width: 170px;

      border: none;
      background-color: blanchedalmond;
      font-size: large;
    }

    .search-button {
      font-weight: bolder;
      font-size: large;
      border: none;

    }
  }
}