.moreinfo {
  text-align: center;
  font-family: 'Anton', sans-serif;
  width: 80%;
  margin: 0 auto;
  font-size: 30px;
  background-color: seashell;
  border: none;

  a {
    text-decoration: none;
  }
}